extends ../layout

block body

    - errors = errors || []
    - info = info || []
    if (errors.indexOf('bad-username-or-password') >= 0)
        div.row: div.col-md-6: div.alert.alert-danger
            p Error: invalid username or password!

    if (errors.indexOf('login-required') >= 0)
        div.row: div.col-md-6: div.alert.alert-danger
            p Sorry, you need to log in first!

    if (info.indexOf('logged-out') >= 0)
        div.row: div.col-md-6: div.alert.alert-info
            p You have been logged out.

    form(method = 'post', action = '/auth/login')
        div.row
            div.col-md-6: div.form-group
                label(for = 'username') Username
                input#username.form-control(name = 'username')

            div.col-md-6: div.form-group
                label(for = 'password') Password
                input#password.form-control(name = 'password', type = 'password')

            div.col-md-6: div.form-group
                button.btn.btn-success
                    i.fa.fa-fw.fa-key
                    span &nbsp; Login