extends ../layout

block body

    table#network-list.table.table-striped.table-hover
        thead
            tr
                th Network
                th Files
                th Actions
        tbody
            each count, network in files
                tr
                    td= network
                    td(data-order = count)= count.toLocaleString()
                    td: a.btn.btn-info.btn-xs(href = '/scan-logs/download-network/' + network)
                        i.fa.fa-fw.fa-download
                        span &nbsp; Download .zip

block scripts

    script.
        $(document).ready(function() {
            $('#network-list').DataTable({
                paging: false,
                info: false,
                searching: false,
                order: [[1, 'desc']]
            });
        });