extends ../layout

block body

	div.row: div.col-md-12
		if users.length > 0
			p The following users have requested that their data be removed from the project:
			ul: each id in users
				li= id
		else
			p No one has withdrawn yet!
